RAG ChatBot.json
{
  "name": "Webai Agency RAG chatbot",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "10eW9zw57CaXZeLJhSTtw81_2hEAWZFTc",
          "mode": "list",
          "cachedResultName": "Webai",
          "cachedResultUrl": "https://drive.google.com/drive/folders/10eW9zw57CaXZeLJhSTtw81_2hEAWZFTc"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1600,
        -560
      ],
      "id": "ccf64498-b561-4f35-98f5-eab3a22e26cc",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gmdcNSFUzNLmUBDv",
          "name": "Webai Agency"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1380,
        -560
      ],
      "id": "bb9a2153-1125-49ab-aa92-3fe5c0460bbf",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "gmdcNSFUzNLmUBDv",
          "name": "Webai Agency"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "webai",
          "mode": "list",
          "cachedResultName": "webai"
        },
        "options": {
          "pineconeNamespace": "Webaiagency"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        -1160,
        -560
      ],
      "id": "3df0370e-bf99-4195-a429-ccec20d738aa",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "1uWAbd6bi8wsI5El",
          "name": "Webai Agency"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1300,
        -380
      ],
      "id": "b69394e8-5d3c-43c9-a6ad-1a6df2a1169c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "sdH5UOcUDY1b7YQ8",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -1120,
        -320
      ],
      "id": "497eb9a2-97ae-4075-b2f2-789950fdbd05",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -920,
        -120
      ],
      "id": "0e95f75c-9818-4d93-bbfd-d2d5468a0fbe",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -320,
        -560
      ],
      "id": "c83cabeb-302a-48cc-9c87-e4bfa2fec413",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -520,
        -560
      ],
      "id": "1f3cb878-88b6-4838-8d10-6fd879a033ae",
      "name": "When chat message received",
      "webhookId": "4f6d7884-5df6-4f15-b389-89a2a723bb67"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -520,
        -340
      ],
      "id": "e625f886-db9b-4302-a0d8-56f05119ac5b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "sdH5UOcUDY1b7YQ8",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "Query",
        "toolDescription": "Hello, What can I help you?",
        "pineconeIndex": {
          "__rl": true,
          "value": "webai",
          "mode": "list",
          "cachedResultName": "webai"
        },
        "options": {
          "pineconeNamespace": "Webaiagency"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        -80,
        -340
      ],
      "id": "c4cad7fe-506b-44ce-aa55-979074e8a11b",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "1uWAbd6bi8wsI5El",
          "name": "Webai Agency"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -60,
        -160
      ],
      "id": "ae54ffe4-339c-4db5-80a9-0946922f3037",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "sdH5UOcUDY1b7YQ8",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -280,
        -360
      ],
      "id": "3edb3900-8a4d-4364-9951-3c0fcf38d947",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c728407d-79d4-4592-b728-31f7f7de299b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b51d13a50eaeeb90511ab0e4d6cfa274c379f5460d5271ffa0677e95766e63a2"
  },
  "id": "H4Kci560Ucgxps6E",
  "tags": []
}